In [6]:
# Dependencies
import pandas as pd
import sqlalchemy 

# Store filepath in a variable
business_detail = "Real_acct_owner/t_business_detail.csv"

# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
business_detail_df = pd.read_csv(business_detail, encoding="ISO-8859-1", low_memory=False)

business_detail_df['Account'] = business_detail_df['Account'].astype('int64')

## storing all data from csv file to dataframe

business_detail_df = business_detail_df[["Account", "Dept_code","Dept_code_de"]]
business_detail_df

        Account Dept_code                   Dept_code_de
0            20      I                         Inventory
1            33      FF           Furniture and Fixtures
2            33      I                         Inventory
3            33      ME    Machinery and Other Equipment
4            33      S                          Supplies
5            43      C                         Computers
6            43      FF           Furniture and Fixtures
7            43      I                         Inventory
8            43      ME    Machinery and Other Equipment
9           101      C                         Computers
10          101      I                         Inventory
11          101      ME    Machinery and Other Equipment
12          105      C                         Computers
13          105      FF           Furniture and Fixtures
14          105      I                         Inventory
15          105      ME    Machinery and Other Equipment
16          195      FF           Furniture and Fixtures
17          202      MISC                  Miscellaneous
18          204      MISC                  Miscellaneous
19          227      C                         Computers
20          227      FF           Furniture and Fixtures
21          227      ME    Machinery and Other Equipment
22          227      S                          Supplies
23          269      C                         Computers
24          269      I                         Inventory
25          269      ME    Machinery and Other Equipment
26          269      RAW                   Raw Materials
27          269      S                          Supplies
28          271      C                         Computers
29          271      FF           Furniture and Fixtures
...         ...       ...                            ...
465414  2300936      S                          Supplies
465415  2300942      C                         Computers
465416  2300942      FF           Furniture and Fixtures
465417  2300942      I                         Inventory
465418  2300942      ME    Machinery and Other Equipment
465419  2300944      C                         Computers
465420  2300944      FF           Furniture and Fixtures
465421  2300944      ME    Machinery and Other Equipment
465422  2300944      S                          Supplies
465423  2300947      C                         Computers
465424  2300947      FF           Furniture and Fixtures
465425  2300947      I                         Inventory
465426  2300947      ME    Machinery and Other Equipment
465427  2300952      C                         Computers
465428  2300952      FF           Furniture and Fixtures
465429  2300952      I                         Inventory
465430  2300952      ME    Machinery and Other Equipment
465431  2300958      MISC                  Miscellaneous
465432  2300961      MISC                  Miscellaneous
465433  2300963      MISC                  Miscellaneous
465434  2300964      V                          Vehicles
465435  2300968      C                         Computers
465436  2300968      FF           Furniture and Fixtures
465437  2300968      ME    Machinery and Other Equipment
465438  2300968      S                          Supplies
465439  2300969      MISC                  Miscellaneous
465440  2300971      MISC                  Miscellaneous
465441  2300972      MISC                  Miscellaneous
465442  2300973      MISC                  Miscellaneous
465443  2300977      MISC                  Miscellaneous

[465444 rows x 3 columns]

In [7]:
## Removing duplicate 

business_detail_df.drop_duplicates(subset='Account', inplace=True)
business_detail_df.to_csv("Real_acct_owner/t_business_detail_dup.csv", index=False, header=True)

In [9]:
## connection for Mysql
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost:3306/hcad')

## reading file to insert into mysql
business_detail_data_ins =  pd.read_csv('Real_acct_owner/t_business_detail_dup.csv', encoding='latin-1',usecols=['Account', 'Dept_code','Dept_code_de'])

##inserting data into mysql
business_detail_data_ins.to_sql('business_detail', con=engine, if_exists='append',index=False,chunksize=1)